@import "tailwindcss";

.maroon {
  background: #550000;
}
.textmaroon {
  color: #550000;
}

.hidebar::-webkit-scrollbar {
  display: none;
}

.hidebar {
  scrollbar-width: none;
}

.hidebar {
  -ms-overflow-style: none;
}
